.card_wrapper{
    width: 250px;
    height: 350px;
    margin: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card_image{
    height: 190px;
    width: 190px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    
}

.pet_name{
    font-size: 40px;
    font-weight: 600;
    color: #31572C;
    font-family: "Times New Roman", Times, serif;
}

.favorite{
    color: #ff99ac;
}

button {
    all: unset;
    
  }

  .fav_icon{
    align-self: end;
    margin-right: 30px;
  }